/* src/components/Dashboard/Dashboard.module.css */
.dashboard {
  padding: 0 2rem 2rem 2rem;
  overflow-y: auto;
  flex-grow: 1;
}

.statsGrid {
  display: grid;
  /* Create 3 columns, or wrap to 1 if not enough space */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}