/* src/App.module.css */
.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-bg-light);
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Subtract player height */
  padding-bottom: 90px; 
}